# BrandShoots Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyCENlBE_JcwqlhafEM8sh_L35MXMOKyRgM
VITE_FIREBASE_AUTH_DOMAIN=brandshoots-admin.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=brandshoots-admin
VITE_FIREBASE_STORAGE_BUCKET=brandshoots-admin.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=896330956887
VITE_FIREBASE_APP_ID=1:896330956887:web:c09e3e9157f5e3874f2312
VITE_FIREBASE_MEASUREMENT_ID=G-76QE1H52KW
VITE_FIREBASE_DATABASE_URL=https://brandshoots-admin-default-rtdb.firebaseio.com

# Cloudinary Configuration
VITE_CLOUDINARY_API_KEY=281566125612949
VITE_CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_SECRET=HpXrKNOYA9Yt7Rs0cW26zXqGUPo
